doctype html
html
    head
        title=name
        style
            include style.css
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width,initial-scale=1")
        script
            include jquery.min.js
        script
            include bootstrap.min.js
        link(rel="stylesheet" src="bootstap.min.css")

    body
        center
            nav(class="navbar")
                h1=name
            div
                img(src = image1, alt = "Testing Image", width = "80%", height="400")

            div
                img.imgs(src = image2, alt = "Testing Image", width = "40%", height="200")
                img.imgs(src = image3, alt = "Testing Image", width = "40%", height="200")

            div.desc
                nav.navbar
                    h3 What Is It Known For
                p.big=description

            div
                table#customers
                    tr
                        th
                            h3 Group
                        th
                            h3 Population
                        th
                            h3 Delicacies
                    tr
                        td
                            p=group
                        td
                            p=population                            
                        td
                            ul 
                                each val in delicacies
                                    li= val

            div.desc
                nav.navbar
                    h3 Rate This Page
                p.rating Overall Rating :
                    span#rate.red=rating
                p Select your rate for 
                    input(type="text" value=province readonly)
                    span :
                form
                    select
                        option(value="none") none
                        option(value="1") 1
                        option(value="2") 2
                        option(value="3") 3
                        option(value="4") 4
                        option(value="5") 5
                    br
                    br
                    button.btn(type="submit" class="btn-success" id="submit") Submit
        script
            include script.js

